*{
  padding: 0;
  margin:0 ;
  box-sizing: border-box ;
}
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #d6ecff;
}
#map{
  height: 100%;
  width: 100%;
  cursor: grab;
}
#map:active{
  cursor:grabbing
}
#map svg{
  display: block;
}
#popup{
  position: fixed;
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;

  z-index: 999;
}
.hidden{
  display: none;
}
#popup input {
  padding: 8px;
}
#popup button{
  padding: 8px 12px;
  cursor: pointer;
}
.connecting rect{
  stroke:#00ff00;
  stroke-width: 3;
}
#ConnectionPopup{
  position: fixed;
  background: white;
  display: none;
  border-radius: 15px;      
  z-index: 999;
}
#routeFinder {

  position: fixed;

  left: 20px;
  top: 20px;

  width: 300px;

  background: white;

  padding: 15px;

  border-radius: 12px;

  box-shadow: 0 0 15px rgba(0,0,0,.2);

  z-index: 1000;

}

#routeFinder input {

  width: 100%;
.route-active line {

  stroke-width: 3;

}

.route-inactive {

  opacity: .25;

}
  padding: 10px;

  margin-bottom: 10px;

}

#routeFinder button {

  width: 100%;

  padding: 10px;

}

#routeResults {

  margin-top: 15px;

}
.route-card {

  margin-top: 10px;

  padding: 10px;

  border: 1px solid #ddd;

  border-radius: 8px;

}